@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #263238;
  --secondary-color: #2b3940;
  --text-color: #797979;
  --very-light-gray: #bfc2c3;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Buttons */
.btn-home {
  @apply py-2 px-4 rounded-md shadow-lg border-2 border-green-500 bg-green-500 text-white hover:bg-green-700 transition-all duration-500 select-none;
}

body {
  font-family: "Tajawal", sans-serif;
  background-color: var(--primary-color);
  color: var(--very-light-gray);
}

button {
  font-family: inherit;
}

p {
  line-height: 1.6;
}

div.header,
div.sidebar {
  box-shadow: 5px 5px 5px black;
}
