@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #263238;
  --secondary-color: #2b3940;
  --text-color: #797979;
  --very-light-gray: #bfc2c3;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li {
  font-size: 14px;
}

a {
  text-decoration: none;
}

/* Buttons */
.btn-home {
  @apply py-2 px-4 rounded-md shadow-lg border-2 border-green-500 bg-green-500 text-white hover:bg-green-700 transition-all duration-500 select-none;
}

body {
  font-family: "Tajawal", sans-serif;
  background-color: var(--primary-color);
  color: var(--very-light-gray);
  overflow: hidden;
}

button,
input {
  user-select: none;
}

button {
  font-family: inherit;
}

p {
  line-height: 1.6;
}

.header,
.sidebar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-color);
}

@media (min-width: 1024px) {
  li {
    font-size: 16px;
  }
}
