:root {
  --primary-color: #263238;
  --secondary-color: #2b3940;
  --text-color: #797979;
  --very-light-gray: #bfc2c3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
